body{
    background-color: rgb(32, 57, 108);
}
#header{
    background-color: red;
    color:lightgray;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.container-left{
    border: 10px solid;
    border-image: linear-gradient(45deg,purple,rgb(43, 255, 0)) 10;
    margin: 10px;
    margin-right: -5px;
    background-color: rgb(58, 139, 157);
    color:aqua;
    padding-bottom: 10px;
    padding-top: 10px;
}
.container-left a{
    color: aqua;
    margin: 10px;
}
.container-right{
    border: 10px solid;
    border-image: linear-gradient(45deg,yellow,rgb(255, 0, 0)) 10;
    margin: 10px;
    background-color:black;
    color:lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}
.container-right h2, .container-right p{
    margin: 10px;
}
.container-right a{
    color: aqua;
}
#footer{
    background-color: rgb(104, 104, 104);
    color:lightgray;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
#footer a{
    color: aqua;

}